@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'normalize.css';
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap);

:root {
    --default-font: 'Roboto', sans-serif;
    --color-primary: rgb(243, 169, 82);
}

* {
    @apply m-0 p-0 box-border;
}

html {
}

body {
    font-family: var(--default-font);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button,
input {
    @apply bg-transparent border-0 outline-0;
}

button {
    @apply cursor-pointer;
}
