.container {
    @apply fixed inset-0 flex justify-center items-center z-50;
}

.wrapper {
    @apply absolute flex flex-col justify-center items-center
    mt-32 p-6 rounded-2xl bg-black/[.7];
    width: 440px;
    animation: fade-in 0.4s linear;
}

.close-icon {
    @apply absolute top-2.5 right-2.5 w-7 h-7 flex p-1 cursor-pointer;
}

.modal-title {
    @apply text-white text-3xl;
}

.modal-description {
    @apply my-2 text-sm text-white opacity-50;
}

.share-link {
    @apply flex gap-2.5 w-full mt-2 mb-4 px-2.5 py-1.5 rounded-lg bg-transparent;

    .link {
        @apply w-full text-sm text-center text-white;
        font-family: var(--default-font);
    }
    .tick-icon {
        @apply w-5 h-5 flex;
    }
}

.copy-link-success {
    @apply bg-green-500/[.8];
}

.copy-btn {
    @apply px-3 py-2.5 rounded-full text-sm font-semibold;
    min-width: 80px;
    font-family: var(--default-font);
    background-color: var(--color-primary);
}

@keyframes fade-in {
    0% {
        @apply opacity-0;
    }
    98% {
        @apply opacity-100;
    }
}
