.container {
    @apply fixed top-0 w-full;
}

.cover-container {
    background-image: linear-gradient(180deg, rgba(66, 65, 65, 0.6), transparent);
}

.wrapper {
    @apply flex justify-between items-center px-12;

    .logo {
        @apply flex h-24;
    }

    .actions {
        @apply flex items-center gap-7;
    }
}

.login-btn {
    @apply text-white bg-white/[.25] hover:opacity-60 transition-all duration-200 ease-in-out;
    font-family: var(--default-font);
}

.share-icon,
.fullscreen-icon,
.menu-icon {
    @apply flex p-1 -m-1 cursor-pointer hover:opacity-40 transition-all duration-200 ease-in-out;
    width: 26px;
    height: 26px;
}

.menu-icon {
    @apply relative;
}
