.switch-btn {
    @apply flex items-center gap-1
    px-1.5 py-1 rounded-full;

    .switch-handler {
        @apply w-6 h-6 bg-white rounded-full;
    }

    .switch-inner {
        @apply flex mx-0.5;
        width: 18px;
        height: 18px;
    }
}

.day-btn {
    background-color: var(--color-primary);
}

.night-btn {
    @apply bg-white/[.25];
}
